/* custom-marquee.css */

.marquee-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.crypto-item {
  display: flex;
  align-items: center;
  margin-right: 25px;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.crypto-icon {
  width: 30px;
  height: 20px;
  margin-right: 8px;
}

.crypto-info {
  display: flex;
  flex-direction: column;
}

.crypto-title {
  font-size: 14px;
  font-weight: bold;
}

.crypto-price {
  font-size: 12px;
  color: #888;
}
